<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>