<nav id="<%=navId%>">
    <a href="/"><h1 id="pageTitle">My book</h1></a>
    <div id="links">
        <a href="/book/add">Add Book</a>
        <a href="" id="buy">Purchase books</a>
    </div>
</nav>